<div
  *ngIf="showTitle && mode === 'difficulty'"
  class="main-title"
  i18n="dashboard.difficulty-adjustment"
>
  Difficulty Adjustment
</div>
<div
  *ngIf="showTitle && mode === 'halving'"
  class="main-title"
  i18n="dashboard.halving-countdown"
>
  Halving Countdown
</div>
<div class="card-wrapper">
  <div class="card">
    <div class="widget-toggler">
      <a
        href=""
        (click)="setMode('difficulty')"
        class="toggler-option"
        [ngClass]="{ inactive: mode === 'difficulty' }"
        ><small i18n="statistics.average-small">difficulty</small></a
      >
      <span style="color: var(--transparent-fg); font-size: 8px"> | </span>
      <a
        href=""
        (click)="setMode('halving')"
        class="toggler-option"
        [ngClass]="{ inactive: mode === 'halving' }"
        ><small i18n="statistics.median-small">halving</small></a
      >
    </div>
    <div
      *ngIf="mode === 'difficulty'; else halving"
      class="card-body more-padding"
    >
      <div
        class="difficulty-adjustment-container"
        *ngIf="
          (isLoadingWebSocket$ | async) === false &&
            (asertStatus$ | async) as asert;
          else loadingDifficulty
        "
      >
        <app-asert-deviation-graph
          [data]="asertData"
          [compressed]="true"
          class="asert-deviation-graph"
        ></app-asert-deviation-graph>

        <div class="difficulty-stats">
          <div class="item">
            <div class="card-text">
              ~<app-time
                [time]="asert.timeAvg / 1000"
                [fractionDigits]="1"
              ></app-time>
            </div>
            <div class="symbol">
              Average block time
            </div>
          </div>
          <div class="item">
            <div
              class="card-text bigger"
              [ngStyle]="{ color: asert.colorDrift }"
            >
              <span
                *ngIf="asert.difficultyDriftPercent > 0; else arrowDownDrift"
              >
                <fa-icon
                  class="retarget-sign"
                  [icon]="['fas', 'caret-up']"
                  [fixedWidth]="true"
                ></fa-icon>
              </span>
              <ng-template #arrowDownDrift>
                <fa-icon
                  class="retarget-sign"
                  [icon]="['fas', 'caret-down']"
                  [fixedWidth]="true"
                ></fa-icon>
              </ng-template>
              {{ asert.difficultyDriftPercent | absolute | number: "1.2-4" }}
              <span class="symbol">%</span>
            </div>
            <div
              class="symbol"
              i18n="difficulty-box.difficulty-drift"
              [ngbTooltip]="
                'Anchor block: #' +
                asertAnchorHeight +
                ' - Date: ' +
                (asertAnchorTimestamp * 1000 | date: 'shortDate')
              "
              placement="bottom"
              container="body"
            >
              Difficulty drift
            </div>
          </div>
          <div class="item">
            <div class="card-text" [ngStyle]="{ color: asert.colorDiffChange }">
              <span *ngIf="asert.diffChangePercent > 0; else arrowDownChange">
                <fa-icon
                  class="retarget-sign"
                  [icon]="['fas', 'caret-up']"
                  [fixedWidth]="true"
                ></fa-icon>
              </span>
              <ng-template #arrowDownChange>
                <fa-icon
                  class="retarget-sign"
                  [icon]="['fas', 'caret-down']"
                  [fixedWidth]="true"
                ></fa-icon>
              </ng-template>
              {{ asert.diffChangePercent | absolute | number: "1.2-4" }}
              <span class="symbol">%</span>
            </div>
            <div class="symbol" i18n="difficulty-box.difficulty-change">
              Difficulty Δ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #halving>
  <div class="card-body more-padding">
    <div
      class="difficulty-adjustment-container halving"
      *ngIf="
        (isLoadingWebSocket$ | async) === false &&
          (asertStatus$ | async) as asert;
        else loadingDifficulty
      "
    >
      <div class="halving-progress">
        <div class="background"></div>
        <div
          class="remaining"
          [style]="{
            left: ((210000 - asert.blocksUntilHalving) / 2100).toFixed(2) + '%',
          }"
        ></div>
        <div class="label">
          {{ ((210000 - asert.blocksUntilHalving) / 2100).toFixed(2) }}%
        </div>
      </div>
      <div class="difficulty-stats">
        <div class="item">
          <div class="card-text bigger">
            <app-amount [satoshis]="nextSubsidy" digitsInfo="1.2-2" [noFiat]="true" [ignoreViewMode]="true"></app-amount>
          </div>
          <div class="symbol">
            <span i18n="difficulty-box.new-subsidy">New subsidy</span>
          </div>
        </div>
        <div class="item">
          <div class="card-text">
            {{ asert.blocksUntilHalving | number }}
          </div>
          <div class="symbol">
            <span
              *ngIf="asert.blocksUntilHalving > 1"
              i18n="shared.blocks-remaining"
              >Blocks remaining</span
            >
            <span
              *ngIf="asert.blocksUntilHalving === 1"
              i18n="shared.block-remaining"
              >Block remaining</span
            >
          </div>
        </div>
        <div class="item">
          <div
            class="card-text"
            i18n-ngbTooltip="mining.average-fee"
            placement="bottom"
          >
            <span>{{ asert.timeUntilHalving | date }}</span>
          </div>
          <div
            class="symbol"
            *ngIf="asert.blocksUntilHalving === 1; else approxTime"
          >
            <app-time
              kind="until"
              [time]="asert.timeAvg + now"
              [fastRender]="false"
              [fixedRender]="true"
              [precision]="1"
              minUnit="minute"
            ></app-time>
          </div>
          <ng-template #approxTime>
            <div class="symbol">
              <app-time
                kind="until"
                [time]="asert.timeUntilHalving"
                [fastRender]="false"
                [fixedRender]="true"
                [precision]="0"
                [numUnits]="2"
                [units]="['year', 'day', 'hour', 'minute']"
              ></app-time>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loadingDifficulty>
  <div class="schedule-bar-container">
    <div class="skeleton-loader" style="height: 22px"></div>
  </div>
  <div class="difficulty-skeleton loading-container">
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
    <div class="item">
      <div class="card-text">
        <div class="skeleton-loader"></div>
        <div class="skeleton-loader"></div>
      </div>
    </div>
  </div>
</ng-template>
