<div class="container-xl about-page">
  <div class="intro">
    <h1 class="visually-hidden">About bch.tx.taxi</h1>
    <img src="/resources/branding/bch-dark-full.svg" alt="bch.tx.taxi Bitcoin Cash explorer" class="mempool-logo">
    <div class="version">
      <span>bch.tx.taxi - Bitcoin Cash block and mempool explorer</span>
      <span class="version-sub">A tx.taxi explorer built from <a href="https://github.com/mempool/mempool" target="_blank" rel="noopener noreferrer">mempool/mempool</a></span>
    </div>
  </div>

  <div class="about-text">
    <h5>About bch.tx.taxi</h5>
    <p>bch.tx.taxi is the Bitcoin Cash explorer in the tx.taxi multi-chain family. Explore Bitcoin Cash blocks, transactions, addresses, mining activity and transaction fees.</p>

    <h5>Bitcoin Cash data</h5>
    <p>1 BCH equals 100,000,000 satoshis. Fees use satoshis per serialized byte: BCH has no SegWit weight discount. CashAddr and legacy addresses refer to Bitcoin Cash addresses. BCH uses ASERT difficulty adjustment each block, a 600-second target and 210,000-block subsidy halvings.</p>


  </div>

  <div class="contributors" id="links">
    <h5>Project links</h5>
    <p><a [routerLink]="['/docs']">bch.tx.taxi documentation</a></p>
    <p><a href="https://github.com/mempool/mempool" target="_blank" rel="noopener noreferrer">Upstream project and contributors</a></p>
    <p><a href="https://t.me/hiss" target="_blank" rel="noopener noreferrer">Contact the tx.taxi maintainer</a></p>
  </div>
</div>
